<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>客户端异常</title>
</head>
<body>
<div>
    <h1>status:[[${status}]]</h1>
    <h3>path:[[${path}]]</h3>
    <h3>timestamp:[[${timestamp}]]</h3>
    <h3>error:[[${error}]]</h3>
    <h3>message:[[${message}]]</h3>
    <h3>company:[[${company}]]</h3>
    <h3>company_message_code:[[${company_message.code}]]</h3>
    <h3>company_message_message:[[${company_message.message}]]</h3>
</div>
</body>
</html>