<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
</head>
<body>
<div>
    <div><span th:text="${message}" th:if="${not #strings.isEmpty(message)}"></span></div>

    <form action="index.html" th:action="@{/user/login}" method="post">
        <input type="text" name="userName" placeholder="账号">
        <input type="password" name="password" placeholder="密码">
        <input type="submit">
    </form>
</div>
</body>
</html>